<?xml version="1.0" encoding="utf-8"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>RevitThyme Native Preview</Name>
    <Assembly>__APPROVED_ABSOLUTE_BUNDLE_PATH__\resources\native\RevitThyme.RevitAdapter.dll</Assembly>
    <AddInId>D88A1886-4314-48D3-BEC8-F6EC1BA9B6A4</AddInId>
    <FullClassName>RevitThyme.RevitAdapter.Host</FullClassName>
    <VendorId>WLKR</VendorId>
    <VendorDescription>RevitThyme M2 development preview; actual Revit qualification required.</VendorDescription>
  </AddIn>
</RevitAddIns>
